<div class="wrapper">
    <% if @flights.present? %>
        <% @flights.each do |f| %>

        <div class="resultcontainer">
            <div class="banner"></div>

            <div class="content">

                <%= form_with model: Booking.new, method: :get, url: new_booking_path do |form| %>

                    <!--  Fields That need to be submitted to Booking -->
                    <%= form.hidden_field :flight_id, value: f.id%>
                    <%= form.hidden_field :passenger_count, value: params[:fly][:passenger_count] %>

                    <strong class="flightInfo"><%= f.from.name %></strong> To
                    <strong class="flightInfo"><%= f.to.name %></strong>
                    <br>

                    <strong class="flightInfo">duration  </strong><%= f.duration %>
                    <br>

                    <strong class="flightInfo">Passengers</strong> <%= params[:fly][:passenger_count] %>
                    <br>

                    <%= form.submit "Book", class: 'commit_button BookButton' %>

                <% end %>

            </div>
        </div>

        <% end %>
    <% end %>

</div>